{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.ts",
          "**/tests/**/*.ts"
        ]
      }
    ]
  },
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  }
}